extends layouts/main

block contend

    
    include partials/Formulario

    div(class="trailer" id="video-trailer")
        div(class="trailer-con")
            
                
    <h1>Trailers #{peli}</h1>

    include partials/VistaAdmin