extends layouts/user

block contend

    body 
        form(action="/login" method="POST" class="form-style" id="formularioR")
            fieldset(name = "field")
                div 
                    label(for="nombreU") Nombre de usuario
                div
                    input(type="text" id="nombreU" name="nombreU" required) 

                div
                    label(for="contrase単a") Contrase単a
                div
                    input(type="password" id="contrase単a" name="contrase単aU" required) 

                br
                div
                    button(class="buttonEdit") login
            